mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.videoBlock__thumbnail(controls="false" src=video.videoFile)
      .video__info
        h4.videoBlock__title=video.title
        if video.views === 1
          h6.videoBlock__views 1 view
        else
          h6.videoBlock__views #{video.views} views
        h6.videoBlock__description=video.description
  
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
  <div class="videoBlock">
    <a href="/videos/5efd4141d97faf1b0ea789ee">
      <video class="videoBlock__thumbnail" controls="true" src="uploads/videos/63b6dc82d9015fee70b4d9d9b0f19065"></video>
      <div class="video__info">
        <h4 class="videoBlock__title">big buck</h4>
        <h6 class="videoBlock__views">0 views</h6>
        <h6 class="videoBlock__description">AAAADFDSDFS DFDSFDFFDS</h6>
      </div>
    </a>
  </div>
